@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  body {
    @apply m-0 bg-gray-900 p-0 text-gray-400;
  }
  .btn {
    @apply w-full grow p-2 sm:w-1/3 md:h-1/4;
  }
  .btn-count {
    @apply flex-none  rounded bg-violet-800 px-2 text-2xl font-extralight;
  }
  .btn-wrap {
    @apply flex h-full items-center rounded bg-gray-800 p-4;
  }
  .joke {
    @apply relative w-full grow p-2 md:w-1/2 lg:w-1/3;
  }
  .joketop {
    @apply absolute left-2 z-10 float-left inline-flex items-center rounded-tl rounded-br bg-gray-800 py-2 px-4 font-bold text-gray-200 shadow-lg;
  }
  .jokewrap {
    @apply flex h-full grow items-center rounded-lg border border-gray-800 bg-gray-900 p-4 py-5 text-gray-400 backdrop-blur-sm;
  }
  .jokebottom {
    @apply absolute right-2 float-right -mt-10 inline-flex items-center rounded-tl rounded-br bg-gray-800 py-2 px-4 font-bold text-gray-200 shadow-lg;
  }
  .speech-bubble {
    @apply my-3 rounded-lg p-3 to-pink-600 from-purple-900 relative;
  }
}

.speech-bubble-odd {
  margin-left: 1em;
}
.speech-bubble-even {
  margin-right: 1em;
}
.speech-bubble-odd:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #db2777;
  border-left: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-left: -20px;
}
.speech-bubble-even:after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-left-color: #db2777;
  border-right: 0;
  border-bottom: 0;
  margin-top: -10px;
  margin-right: -20px;
}
